@import 'variables';
@import '../mixins/viewport';
@import '../mixins/base';
@import '../icons/maps/defaultIcons';
@import '../icons/mixins';

.btn {
  &.btn-icon-left,
  &.btn-icon-right {
    text-transform: capitalize;
    position: relative;
    .btn-icon {
      position: absolute;
    }
  }
  @each $direction in ('left','right') {
    &.btn-icon-#{$direction} {
      padding-#{$direction}: $btnPadding + 22px;
      .btn-icon {
        #{$direction}: 15px;
      }
    }
  }
}
