@import 'variables';
@import 'button-icons';
@import '../mixins/variables';
@import '../mixins/colours';
@import '../typography/mixins';

button,
input[type=submit],
.btn {
	display: inline-block;
	vertical-align: middle;
	width: $ctaWidthM;
  height: $ctaHeightM;

	margin-bottom: 5px;
	margin-top: 5px;
	padding: 10px ($btnPadding - 1px) 7px;

	background-color: $white;
	color: $black;
	cursor: pointer;
  border: 1px solid $greyBorder;

	font-family: "Body-WebS";
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 1.2em;
	text-align: center;
	text-decoration: none;

	white-space: initial;
  box-shadow: none;
  box-sizing: border-box;
	&:hover {
		background-color: $greySelected;
		border-color: $greySelected;
		color: $black;
	}
	&.btn-small {
		font-size: 14px;
		width: $ctaWidthS;
    height: $ctaHeightS;
		padding: 7px 15px 7px;
	}
	&.btn-x-small {
		font-size: 12px;
		width: $ctaWidthXS;
    height: $ctaHeightXS;
    padding: 5px 0;
	}
	&.btn-primary {
		background-color: $black;
		border-color: $black;
		color: $white;
		&:hover {
			background-color: $greyHover;
			border-color: $greyHover;
		}
	}
	&.btn-white {
		background-color: $white;
		color: $black;
    border: 1px solid $black;
		&:hover {
			background-color: $black;
			color: $white;
		}
	}
	&[disabled],
	&[disabled]:hover,
	&.btn-disabled,
	&.btn-disabled:hover {
		background-color: $greySelected;
		border: 1px solid $greySelected;
		color: $greyHeading;
		cursor: default;
		outline: none;
	}
}
