@import 'button-icons';
@import '../mixins/variables';
@import '../mixins/colours';
@import '../typography/mixins';

button,
input[type=submit],
.btn {
	display: inline-block;
	vertical-align: middle;
	height: $eltHeightM;

	margin-bottom: 5px;
	margin-top: 5px;
	padding: 10px 19px 7px;

	background-color: $white;
	color: $black;
	cursor: pointer;
	border: 1px solid $greyBorder;

	font-family: "Body-WebS";
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 1.2em;
	text-align: center;
	text-decoration: none;
	text-transform: capitalize;

  @include cross-browser(font-smoothing, antialiased);
	white-space: initial;
	box-shadow: none;
	box-sizing: border-box;

	&:hover {
		background-color: $greySelected;
		border-color: $greySelected;
		color: $black;
	}
	&.btn-small, &.btn-facebook {
		font-size: 14px;
    	max-width: initial;
    	height: $eltHeightS;
		padding: 7px 15px 7px;
	}
	&.btn-x-small {
		font-size: 12px;
	    max-width: initial;
	    height: $eltHeightXS;
	    padding: 5px 10px;
	}
	&.btn-primary {
		background-color: $black;
		border-color: $black;
		color: $white;
		&:hover {
			background-color: $greyHover;
			border-color: $greyHover;
		}
	}
	&.btn-white {
		background-color: $white;
		color: $black;
	    border: 1px solid $black;
		&:hover {
			background-color: $black;
			color: $white;
		}
	}
	&[disabled],
	&[disabled]:hover,
	&.btn-disabled,
	&.btn-disabled:hover {
		background-color: $greySelected;
		border: 1px solid $greySelected;
		color: $greyHeading;
		cursor: default;
		outline: none;
	}
  &.btn-facebook {
    $iconPadding: 5px;;
    width: auto;
    padding-left: calc(30px + #{$iconPadding});
    background: linear-gradient(#4c69ba, #3b55a0);
    color: $white;
    font-family: Helvetica;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 4px;
    .btn-icon {
      left: $iconPadding;
      &:before {
        height: 22px;
        width: 22px;
      }
    }
    &:hover {
      background: linear-gradient(#5b7bd5, #4864b1);;
    }
  }
  &.btn-dropdown {
  	padding:0;
  	height:auto;
  	&.btn-small {
  		select {
		    height: $eltHeightS;
			padding: 0 33px 0 15px;
  		}
  	}
  	&.btn-x-small {
  		select {
		    height: $eltHeightXS;
			padding: 0 28px 0 10px;
  		}
  	}
  	select {
		padding: 0 39px 0 19px;
		-webkit-appearance: none;
	    -ms-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
	    background-color: white;
	    border: none;
	    border-radius: 0;
	    font-size: 14px;
	    font-family: inherit;
	    height: $eltHeightM;
	    background-color: transparent;
  		outline: none;
	    cursor: pointer;
  	}
  }
}

select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #000;
}

