$defaultIconMap: (
    about-us-black: (
      coordinates: 0 50%,
      width: 10px,
      height: 10px,
      selector: '.icon-about-us-black'
    ),
    about-us-grey: (
      coordinates: 3.5714285714285716% 50%,
      width: 10px,
      height: 10px,
      selector: '.icon-about-us-grey'
    ),
    arrow-down-black: (
      coordinates: 7.142857142857143% 50%,
      width: 10px,
      height: 10px,
      selector: '.icon-arrow-down-black'
    ),
    arrow-down-grey: (
      coordinates: 10.714285714285714% 50%,
      width: 10px,
      height: 10px,
      selector: '.icon-arrow-down-grey'
    ),
    arrow-down-white: (
      coordinates: 14.285714285714286% 50%,
      width: 10px,
      height: 10px,
      selector: '.icon-arrow-down-white'
    ),
    arrow-left-black: (
      coordinates: 17.857142857142858% 50%,
      width: 10px,
      height: 10px,
      selector: '.icon-arrow-left-black'
    ),
    arrow-left-grey: (
      coordinates: 21.428571428571427% 50%,
      width: 10px,
      height: 10px,
      selector: '.icon-arrow-left-grey'
    ),
    arrow-left-white: (
      coordinates: 25% 50%,
      width: 10px,
      height: 10px,
      selector: '.icon-arrow-left-white'
    ),
    arrow-right-black: (
      coordinates: 28.571428571428573% 50%,
      width: 10px,
      height: 10px,
      selector: '.icon-arrow-right-black'
    ),
    arrow-right-grey: (
      coordinates: 32.142857142857146% 50%,
      width: 10px,
      height: 10px,
      selector: '.icon-arrow-right-grey'
    ),
    arrow-right-white: (
      coordinates: 35.714285714285715% 50%,
      width: 10px,
      height: 10px,
      selector: '.icon-arrow-right-white'
    ),
    arrow-up-black: (
      coordinates: 39.285714285714285% 50%,
      width: 10px,
      height: 10px,
      selector: '.icon-arrow-up-black'
    ),
    arrow-up-grey: (
      coordinates: 42.857142857142854% 50%,
      width: 10px,
      height: 10px,
      selector: '.icon-arrow-up-grey'
    ),
    arrow-up-white: (
      coordinates: 46.42857142857143% 50%,
      width: 10px,
      height: 10px,
      selector: '.icon-arrow-up-white'
    ),
    cross-black: (
      coordinates: 50% 50%,
      width: 10px,
      height: 10px,
      selector: '.icon-cross-black'
    ),
    cross-grey: (
      coordinates: 53.57142857142857% 50%,
      width: 10px,
      height: 10px,
      selector: '.icon-cross-grey'
    ),
    cross-white: (
      coordinates: 57.142857142857146% 50%,
      width: 10px,
      height: 10px,
      selector: '.icon-cross-white'
    ),
    lock-black: (
      coordinates: 60.714285714285715% 50%,
      width: 10px,
      height: 10px,
      selector: '.icon-lock-black'
    ),
    lock-grey: (
      coordinates: 64.28571428571429% 50%,
      width: 10px,
      height: 10px,
      selector: '.icon-lock-grey'
    ),
    lock-white: (
      coordinates: 67.85714285714286% 50%,
      width: 10px,
      height: 10px,
      selector: '.icon-lock-white'
    ),
    minus-black: (
      coordinates: 71.42857142857143% 50%,
      width: 10px,
      height: 10px,
      selector: '.icon-minus-black'
    ),
    minus-grey: (
      coordinates: 75% 50%,
      width: 10px,
      height: 10px,
      selector: '.icon-minus-grey'
    ),
    minus-white: (
      coordinates: 78.57142857142857% 50%,
      width: 10px,
      height: 10px,
      selector: '.icon-minus-white'
    ),
    plus-black: (
      coordinates: 82.14285714285714% 50%,
      width: 10px,
      height: 10px,
      selector: '.icon-plus-black'
    ),
    plus-grey: (
      coordinates: 85.71428571428571% 50%,
      width: 10px,
      height: 10px,
      selector: '.icon-plus-grey'
    ),
    plus-white: (
      coordinates: 89.28571428571429% 50%,
      width: 10px,
      height: 10px,
      selector: '.icon-plus-white'
    ),
    search-black: (
      coordinates: 92.85714285714286% 50%,
      width: 10px,
      height: 10px,
      selector: '.icon-search-black'
    ),
    search-grey: (
      coordinates: 96.42857142857143% 50%,
      width: 10px,
      height: 10px,
      selector: '.icon-search-grey'
    ),
    search-white: (
      coordinates: 100% 50%,
      width: 10px,
      height: 10px,
      selector: '.icon-search-white'
    ),
);

$defaultIcons: ('.icon-about-us-black', '.icon-about-us-grey', '.icon-arrow-down-black', '.icon-arrow-down-grey', '.icon-arrow-down-white', '.icon-arrow-left-black', '.icon-arrow-left-grey', '.icon-arrow-left-white', '.icon-arrow-right-black', '.icon-arrow-right-grey', '.icon-arrow-right-white', '.icon-arrow-up-black', '.icon-arrow-up-grey', '.icon-arrow-up-white', '.icon-cross-black', '.icon-cross-grey', '.icon-cross-white', '.icon-lock-black', '.icon-lock-grey', '.icon-lock-white', '.icon-minus-black', '.icon-minus-grey', '.icon-minus-white', '.icon-plus-black', '.icon-plus-grey', '.icon-plus-white', '.icon-search-black', '.icon-search-grey', '.icon-search-white', );
