$myaccountIconMap: (
    account-address: (
      coordinates: 0 50%,
      width: 20px,
      height: 20px,
      selector: '.icon-account-address'
    ),
    email: (
      coordinates: 8.333333333333334% 50%,
      width: 20px,
      height: 20px,
      selector: '.icon-email'
    ),
    email-pref: (
      coordinates: 16.666666666666668% 50%,
      width: 20px,
      height: 20px,
      selector: '.icon-email-pref'
    ),
    gift-credit: (
      coordinates: 25% 50%,
      width: 20px,
      height: 20px,
      selector: '.icon-gift-credit'
    ),
    livechat: (
      coordinates: 33.333333333333336% 50%,
      width: 20px,
      height: 20px,
      selector: '.icon-livechat'
    ),
    orders: (
      coordinates: 41.666666666666664% 50%,
      width: 20px,
      height: 20px,
      selector: '.icon-orders'
    ),
    personal-assistant: (
      coordinates: 50% 50%,
      width: 20px,
      height: 20px,
      selector: '.icon-personal-assistant'
    ),
    phone: (
      coordinates: 58.333333333333336% 50%,
      width: 20px,
      height: 20px,
      selector: '.icon-phone'
    ),
    reserved-items: (
      coordinates: 66.66666666666667% 50%,
      width: 20px,
      height: 20px,
      selector: '.icon-reserved-items'
    ),
    save-payment: (
      coordinates: 75% 50%,
      width: 20px,
      height: 20px,
      selector: '.icon-save-payment'
    ),
    size-pref: (
      coordinates: 83.33333333333333% 50%,
      width: 20px,
      height: 20px,
      selector: '.icon-size-pref'
    ),
    store-credit: (
      coordinates: 91.66666666666667% 50%,
      width: 20px,
      height: 20px,
      selector: '.icon-store-credit'
    ),
    update-password: (
      coordinates: 100% 50%,
      width: 20px,
      height: 20px,
      selector: '.icon-update-password'
    ),
);

$myaccountIcons: ('.icon-account-address', '.icon-email', '.icon-email-pref', '.icon-gift-credit', '.icon-livechat', '.icon-orders', '.icon-personal-assistant', '.icon-phone', '.icon-reserved-items', '.icon-save-payment', '.icon-size-pref', '.icon-store-credit', '.icon-update-password', );
