$myaccountIconMap: (
    account: (
      coordinates: 0 50%,
      width: 20px,
      height: 20px,
      selector: '.icon-account'
    ),
    account-address: (
      coordinates: 6.25% 50%,
      width: 20px,
      height: 20px,
      selector: '.icon-account-address'
    ),
    email: (
      coordinates: 12.5% 50%,
      width: 20px,
      height: 20px,
      selector: '.icon-email'
    ),
    email-pref: (
      coordinates: 18.75% 50%,
      width: 20px,
      height: 20px,
      selector: '.icon-email-pref'
    ),
    gift-credit: (
      coordinates: 25% 50%,
      width: 20px,
      height: 20px,
      selector: '.icon-gift-credit'
    ),
    livechat: (
      coordinates: 31.25% 50%,
      width: 20px,
      height: 20px,
      selector: '.icon-livechat'
    ),
    lock-black: (
      coordinates: 37.5% 50%,
      width: 20px,
      height: 20px,
      selector: '.icon-lock-black'
    ),
    lock-grey: (
      coordinates: 43.75% 50%,
      width: 20px,
      height: 20px,
      selector: '.icon-lock-grey'
    ),
    lock-white: (
      coordinates: 50% 50%,
      width: 20px,
      height: 20px,
      selector: '.icon-lock-white'
    ),
    orders: (
      coordinates: 56.25% 50%,
      width: 20px,
      height: 20px,
      selector: '.icon-orders'
    ),
    personal-assistant: (
      coordinates: 62.5% 50%,
      width: 20px,
      height: 20px,
      selector: '.icon-personal-assistant'
    ),
    phone: (
      coordinates: 68.75% 50%,
      width: 20px,
      height: 20px,
      selector: '.icon-phone'
    ),
    reserved-items: (
      coordinates: 75% 50%,
      width: 20px,
      height: 20px,
      selector: '.icon-reserved-items'
    ),
    save-payment: (
      coordinates: 81.25% 50%,
      width: 20px,
      height: 20px,
      selector: '.icon-save-payment'
    ),
    size-pref: (
      coordinates: 87.5% 50%,
      width: 20px,
      height: 20px,
      selector: '.icon-size-pref'
    ),
    store-credit: (
      coordinates: 93.75% 50%,
      width: 20px,
      height: 20px,
      selector: '.icon-store-credit'
    ),
    update-password: (
      coordinates: 100% 50%,
      width: 20px,
      height: 20px,
      selector: '.icon-update-password'
    ),
);

$myaccountIcons: ('.icon-account', '.icon-account-address', '.icon-email', '.icon-email-pref', '.icon-gift-credit', '.icon-livechat', '.icon-lock-black', '.icon-lock-grey', '.icon-lock-white', '.icon-orders', '.icon-personal-assistant', '.icon-phone', '.icon-reserved-items', '.icon-save-payment', '.icon-size-pref', '.icon-store-credit', '.icon-update-password', );
