$greyBorder: #d3d3d3;
$greySelected: #e6e6e6;
$greyHeading: #777777;
$darkGreySelected: #b7b7b7;
$greyHover: #4b4b4b;
$greyBackground: #f2f2f2;
$yellow: yellow;

$white: #fff;
$black: #000;
$red: #b90000;
