$defaultIconsMap: (
    arrow-down-black: (
      coordinates: 0 50%,
      width: 10px,
      height: 10px,
    ),
    arrow-down-grey: (
      coordinates: 3.8461538461538463% 50%,
      width: 10px,
      height: 10px,
    ),
    arrow-down-white: (
      coordinates: 7.6923076923076925% 50%,
      width: 10px,
      height: 10px,
    ),
    arrow-left-black: (
      coordinates: 11.538461538461538% 50%,
      width: 10px,
      height: 10px,
    ),
    arrow-left-grey: (
      coordinates: 15.384615384615385% 50%,
      width: 10px,
      height: 10px,
    ),
    arrow-left-white: (
      coordinates: 19.23076923076923% 50%,
      width: 10px,
      height: 10px,
    ),
    arrow-right-black: (
      coordinates: 23.076923076923077% 50%,
      width: 10px,
      height: 10px,
    ),
    arrow-right-grey: (
      coordinates: 26.923076923076923% 50%,
      width: 10px,
      height: 10px,
    ),
    arrow-right-white: (
      coordinates: 30.76923076923077% 50%,
      width: 10px,
      height: 10px,
    ),
    arrow-up-black: (
      coordinates: 34.61538461538461% 50%,
      width: 10px,
      height: 10px,
    ),
    arrow-up-grey: (
      coordinates: 38.46153846153846% 50%,
      width: 10px,
      height: 10px,
    ),
    arrow-up-white: (
      coordinates: 42.30769230769231% 50%,
      width: 10px,
      height: 10px,
    ),
    cross-black: (
      coordinates: 46.15384615384615% 50%,
      width: 10px,
      height: 10px,
    ),
    cross-grey: (
      coordinates: 50% 50%,
      width: 10px,
      height: 10px,
    ),
    cross-white: (
      coordinates: 53.84615384615385% 50%,
      width: 10px,
      height: 10px,
    ),
    lock-black: (
      coordinates: 57.69230769230769% 50%,
      width: 10px,
      height: 10px,
    ),
    lock-grey: (
      coordinates: 61.53846153846154% 50%,
      width: 10px,
      height: 10px,
    ),
    lock-white: (
      coordinates: 65.38461538461539% 50%,
      width: 10px,
      height: 10px,
    ),
    minus-black: (
      coordinates: 69.23076923076923% 50%,
      width: 10px,
      height: 10px,
    ),
    minus-grey: (
      coordinates: 73.07692307692308% 50%,
      width: 10px,
      height: 10px,
    ),
    minus-white: (
      coordinates: 76.92307692307692% 50%,
      width: 10px,
      height: 10px,
    ),
    plus-black: (
      coordinates: 80.76923076923077% 50%,
      width: 10px,
      height: 10px,
    ),
    plus-grey: (
      coordinates: 84.61538461538461% 50%,
      width: 10px,
      height: 10px,
    ),
    plus-white: (
      coordinates: 88.46153846153847% 50%,
      width: 10px,
      height: 10px,
    ),
    search-black: (
      coordinates: 92.3076923076923% 50%,
      width: 10px,
      height: 10px,
    ),
    search-grey: (
      coordinates: 96.15384615384616% 50%,
      width: 10px,
      height: 10px,
    ),
    search-white: (
      coordinates: 100% 50%,
      width: 10px,
      height: 10px,
    ),
);
