$largeIconsMap: (
    arrow-left-lrg-black: (
      coordinates: 0 50%,
      width: 15px,
      height: 15px,
    ),
    arrow-left-lrg-grey: (
      coordinates: 20% 50%,
      width: 15px,
      height: 15px,
    ),
    arrow-left-lrg-white: (
      coordinates: 40% 50%,
      width: 15px,
      height: 15px,
    ),
    arrow-right-lrg-black: (
      coordinates: 60% 50%,
      width: 15px,
      height: 15px,
    ),
    arrow-right-lrg-grey: (
      coordinates: 80% 50%,
      width: 15px,
      height: 15px,
    ),
    arrow-right-lrg-white: (
      coordinates: 100% 50%,
      width: 15px,
      height: 15px,
    ),
);
