$largeIconMap: (
    arrow-left-lrg-black: (
      coordinates: 0 50%,
      width: 15px,
      height: 15px,
      selector: '.icon-arrow-left-lrg-black'
    ),
    arrow-left-lrg-grey: (
      coordinates: 20% 50%,
      width: 15px,
      height: 15px,
      selector: '.icon-arrow-left-lrg-grey'
    ),
    arrow-left-lrg-white: (
      coordinates: 40% 50%,
      width: 15px,
      height: 15px,
      selector: '.icon-arrow-left-lrg-white'
    ),
    arrow-right-lrg-black: (
      coordinates: 60% 50%,
      width: 15px,
      height: 15px,
      selector: '.icon-arrow-right-lrg-black'
    ),
    arrow-right-lrg-grey: (
      coordinates: 80% 50%,
      width: 15px,
      height: 15px,
      selector: '.icon-arrow-right-lrg-grey'
    ),
    arrow-right-lrg-white: (
      coordinates: 100% 50%,
      width: 15px,
      height: 15px,
      selector: '.icon-arrow-right-lrg-white'
    ),
);

$largeIcons: ('.icon-arrow-left-lrg-black', '.icon-arrow-left-lrg-grey', '.icon-arrow-left-lrg-white', '.icon-arrow-right-lrg-black', '.icon-arrow-right-lrg-grey', '.icon-arrow-right-lrg-white', );
