$socialIconsMap: (
    quickview-black: (
      coordinates: 0 50%,
      width: 20px,
      height: 20px,
    ),
    quickview-white: (
      coordinates: 7.6923076923076925% 50%,
      width: 20px,
      height: 20px,
    ),
    social-logo-Email-white: (
      coordinates: 15.384615384615385% 50%,
      width: 20px,
      height: 20px,
    ),
    social-logo-Facebook-black: (
      coordinates: 23.076923076923077% 50%,
      width: 20px,
      height: 20px,
    ),
    social-logo-Facebook-white: (
      coordinates: 30.76923076923077% 50%,
      width: 20px,
      height: 20px,
    ),
    social-logo-GooglePlus: (
      coordinates: 38.46153846153846% 50%,
      width: 20px,
      height: 20px,
    ),
    social-logo-GooglePlus-white: (
      coordinates: 46.15384615384615% 50%,
      width: 20px,
      height: 20px,
    ),
    social-logo-Instagram: (
      coordinates: 53.84615384615385% 50%,
      width: 20px,
      height: 20px,
    ),
    social-logo-Instagram-white: (
      coordinates: 61.53846153846154% 50%,
      width: 20px,
      height: 20px,
    ),
    social-logo-Pinterest: (
      coordinates: 69.23076923076923% 50%,
      width: 20px,
      height: 20px,
    ),
    social-logo-Pinterest-white: (
      coordinates: 76.92307692307692% 50%,
      width: 20px,
      height: 20px,
    ),
    social-logo-Twitter: (
      coordinates: 84.61538461538461% 50%,
      width: 20px,
      height: 20px,
    ),
    social-logo-Twitter-white: (
      coordinates: 92.3076923076923% 50%,
      width: 20px,
      height: 20px,
    ),
    social-logo-YouTube: (
      coordinates: 100% 50%,
      width: 20px,
      height: 20px,
    ),
);
