@import '../mixins/base';
@import '../buttons/variables';
@import '../mixins/browser';
@import 'mixins';

%icon {
  content: "";
  display: block;
  background-image: url("../images/icons.png");
  background-image: none, url("../images/icons.svg");
  background-repeat: no-repeat;
  @include _square(map_get($spriteDimensions, "iconDimension"));
  background-size: 100%;
}

@each $colour in $iconColours {
  @include create_icons($colour) {
    @extend %icon;
  };
}

.icon-quickview-black {
  &:before {
    @extend %icon;
    background-image: none, url("../images/Quickview_Symbol_Black_24x24.svg");
    background-size: 410%;
    background-position: 50% 50%;
    @include _square(24px);
  }
}

@include viewport(mobile) {
  @each $colour in $iconColours {
    @include create_icons($colour) {
      margin-top: -1px;
      @include _square(14px);
    }
  }
}

// hacky overrides
.icon-arrow-right-lrg-black, .icon-arrow-left-lrg-black, .icon-arrow-right-lrg-grey, .icon-arrow-left-lrg-grey {
  &:before {
    height:17px;
    width:17px;
  }
}