@import 'maps/glyphs/defaultGlyphs';
@import 'maps/glyphs/largeGlyphs';
@import 'maps/glyphs/otherGlyphs';
@import 'maps/socialIcons';
@import 'maps/myaccountIcons';
@import 'mixins';
@import '../mixins/browser';

@include create_glyphs($defaultGlyphMap);

@include create_glyphs($largeGlyphMap);

@include create_glyphs($otherGlyphMap);

@include create_icons($socialIconMap, true) {
  background-image: none, url("../images/social-icons.svg");
};

@include create_icons($myaccountIconMap, true) {
  background-image: none, url("../images/myaccount-icons.svg");
};

i {
  font-style: normal;
}
