@import 'defaultIconMap';
@import 'largeIconMap';
@import 'socialIconMap';
@import 'mixins';
@import '../mixins/browser';

@include create_icons($defaultIconMap, true) {
  background-image: none, url("../images/default-icons.svg");
};

@include create_icons($largeIconMap, true) {
  background-image: none, url("../images/large-icons.svg");
};

@include create_icons($socialIconMap, true) {
  background-image: none, url("../images/social-icons.svg");
};

@include icon_size(
  $icons: (#{$iconPrefix}quickview-black, #{$iconPrefix}quickview-grey),
  $size: 24px
);

@include viewport(mobile) {
  @include icon_size(
    $icons: $largeIcons,
    $size: 18px
  );
}
