$defaultIconsMap: (
    arrow-down-black: (
      coordinates: 0 50%,
      width: 12px,
      height: 12px,
    ),
    arrow-down-grey: (
      coordinates: 3.5714285714285716% 50%,
      width: 12px,
      height: 12px,
    ),
    arrow-down-white: (
      coordinates: 7.142857142857143% 50%,
      width: 12px,
      height: 12px,
    ),
    arrow-left-black: (
      coordinates: 10.714285714285714% 50%,
      width: 12px,
      height: 12px,
    ),
    arrow-left-grey: (
      coordinates: 14.285714285714286% 50%,
      width: 12px,
      height: 12px,
    ),
    arrow-left-white: (
      coordinates: 17.857142857142858% 50%,
      width: 12px,
      height: 12px,
    ),
    arrow-right-black: (
      coordinates: 21.428571428571427% 50%,
      width: 12px,
      height: 12px,
    ),
    arrow-right-grey: (
      coordinates: 25% 50%,
      width: 12px,
      height: 12px,
    ),
    arrow-right-white: (
      coordinates: 28.571428571428573% 50%,
      width: 12px,
      height: 12px,
    ),
    arrow-up-black: (
      coordinates: 32.142857142857146% 50%,
      width: 12px,
      height: 12px,
    ),
    arrow-up-grey: (
      coordinates: 35.714285714285715% 50%,
      width: 12px,
      height: 12px,
    ),
    arrow-up-white: (
      coordinates: 39.285714285714285% 50%,
      width: 12px,
      height: 12px,
    ),
    cross-black: (
      coordinates: 42.857142857142854% 50%,
      width: 12px,
      height: 12px,
    ),
    cross-grey: (
      coordinates: 46.42857142857143% 50%,
      width: 12px,
      height: 12px,
    ),
    cross-white: (
      coordinates: 50% 50%,
      width: 12px,
      height: 12px,
    ),
    lock-black: (
      coordinates: 53.57142857142857% 50%,
      width: 12px,
      height: 12px,
    ),
    lock-grey: (
      coordinates: 57.142857142857146% 50%,
      width: 12px,
      height: 12px,
    ),
    lock-white: (
      coordinates: 60.714285714285715% 50%,
      width: 12px,
      height: 12px,
    ),
    minus-black: (
      coordinates: 64.28571428571429% 50%,
      width: 12px,
      height: 12px,
    ),
    minus-grey: (
      coordinates: 67.85714285714286% 50%,
      width: 12px,
      height: 12px,
    ),
    minus-white: (
      coordinates: 71.42857142857143% 50%,
      width: 12px,
      height: 12px,
    ),
    plus-black: (
      coordinates: 75% 50%,
      width: 12px,
      height: 12px,
    ),
    plus-grey: (
      coordinates: 78.57142857142857% 50%,
      width: 12px,
      height: 12px,
    ),
    plus-white: (
      coordinates: 82.14285714285714% 50%,
      width: 12px,
      height: 12px,
    ),
    quickview-black: (
      coordinates: 85.71428571428571% 50%,
      width: 12px,
      height: 12px,
    ),
    quickview-white: (
      coordinates: 89.28571428571429% 50%,
      width: 12px,
      height: 12px,
    ),
    search-black: (
      coordinates: 92.85714285714286% 50%,
      width: 12px,
      height: 12px,
    ),
    search-grey: (
      coordinates: 96.42857142857143% 50%,
      width: 12px,
      height: 12px,
    ),
    search-white: (
      coordinates: 100% 50%,
      width: 12px,
      height: 12px,
    ),
);
