$largeIconsMap: (
    arrow-left-lrg-black: (
      coordinates: 0 50%,
      width: 15px,
      height: 15px,
    ),
    arrow-left-lrg-grey: (
      coordinates: 9.090909090909092% 50%,
      width: 15px,
      height: 15px,
    ),
    arrow-left-lrg-white: (
      coordinates: 18.181818181818183% 50%,
      width: 15px,
      height: 15px,
    ),
    arrow-right-lrg-black: (
      coordinates: 27.272727272727273% 50%,
      width: 15px,
      height: 15px,
    ),
    arrow-right-lrg-grey: (
      coordinates: 36.36363636363637% 50%,
      width: 15px,
      height: 15px,
    ),
    arrow-right-lrg-white: (
      coordinates: 45.45454545454545% 50%,
      width: 15px,
      height: 15px,
    ),
    minus-lrg-black: (
      coordinates: 54.54545454545455% 50%,
      width: 15px,
      height: 15px,
    ),
    minus-lrg-grey: (
      coordinates: 63.63636363636363% 50%,
      width: 15px,
      height: 15px,
    ),
    minus-lrg-white: (
      coordinates: 72.72727272727273% 50%,
      width: 15px,
      height: 15px,
    ),
    plus-lrg-black: (
      coordinates: 81.81818181818181% 50%,
      width: 15px,
      height: 15px,
    ),
    plus-lrg-grey: (
      coordinates: 90.9090909090909% 50%,
      width: 15px,
      height: 15px,
    ),
    plus-lrg-white: (
      coordinates: 100% 50%,
      width: 15px,
      height: 15px,
    ),
);
