@import '../../mixins/base';

$iconPrefix: '.icon-';

@mixin create_icons($iconsMap, $size: false) {
  @each $icon, $iconInfo in $iconsMap {
    #{$iconPrefix}#{$icon} {
      &:before {
        content: "";
        display: block;
        @if $size != false {
          $size: if($size, map_get($iconInfo, "width"), $size);
          width: $size;
          height: $size;
        }
        background-position: map_get($iconInfo, "coordinates");
        //should change depending on sprite direction
        background-size: auto 100%;
        background-repeat: no-repeat;
        @content;
      }
    }
  }
}
