$socialIconsMap: (
    social-logo-Email-white: (
      coordinates: 0 50%,
      width: 20px,
      height: 20px,
    ),
    social-logo-Facebook-black: (
      coordinates: 9.090909090909092% 50%,
      width: 20px,
      height: 20px,
    ),
    social-logo-Facebook-white: (
      coordinates: 18.181818181818183% 50%,
      width: 20px,
      height: 20px,
    ),
    social-logo-GooglePlus: (
      coordinates: 27.272727272727273% 50%,
      width: 20px,
      height: 20px,
    ),
    social-logo-GooglePlus-white: (
      coordinates: 36.36363636363637% 50%,
      width: 20px,
      height: 20px,
    ),
    social-logo-Instagram: (
      coordinates: 45.45454545454545% 50%,
      width: 20px,
      height: 20px,
    ),
    social-logo-Instagram-white: (
      coordinates: 54.54545454545455% 50%,
      width: 20px,
      height: 20px,
    ),
    social-logo-Pinterest: (
      coordinates: 63.63636363636363% 50%,
      width: 20px,
      height: 20px,
    ),
    social-logo-Pinterest-white: (
      coordinates: 72.72727272727273% 50%,
      width: 20px,
      height: 20px,
    ),
    social-logo-Twitter: (
      coordinates: 81.81818181818181% 50%,
      width: 20px,
      height: 20px,
    ),
    social-logo-Twitter-white: (
      coordinates: 90.9090909090909% 50%,
      width: 20px,
      height: 20px,
    ),
    social-logo-YouTube: (
      coordinates: 100% 50%,
      width: 20px,
      height: 20px,
    ),
);
