@import 'defaultIconMap';
@import 'largeIconMap';
@import 'socialIconMap';
@import 'mixins';
@import '../../mixins/browser';

@include create_icons($defaultIconsMap, true) {
  background-image: none, url("../images/default-icons.svg");
};

@include create_icons($largeIconsMap, true) {
  background-image: none, url("../images/large-icons.svg");
};

@include create_icons($socialIconsMap, true) {
  background-image: none, url("../images/social-icons.svg");
};

#{$iconPrefix}quickview-black, #{$iconPrefix}quickview-grey {
  &:before {
    margin: 0;
    height: 24px;
    width: 24px;
  }
}

@include viewport(mobile) {
  @include create_icons($largeIconsMap) {
    @include _square(18px);
  }
}
