@import 'mixins/browser';

* {
  @include cross-browser(box-sizing, border-box);
  margin: 0;
  padding: 0;
}

table{font-size:100%;}

a img{border:none;}/*removes borders from images that are links*/
